* {
	font-family: "Fjalla One";
	scroll-behavior: smooth;
}

body {
	background-image: url(./imagens/fundo.png);
	background-repeat: no-repeat;
	background-color: #000;
}

body::-webkit-scrollbar {
	width: 15px;
}

body::-webkit-scrollbar-track {
	background: rgb(0, 0, 0);
	opacity: 0%;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(61, 61, 61);
	border-radius: 25px;
	border: 3px solid rgb(0, 0, 0);
}

::selection {
	background-color: #fff;
	color: #000;
}

header {
	width: 80%;
	height: 200px;
	margin: 3% 10%;
	display: flex;

}

nav {
	display: flex;
	width: 100%;
	font-size: 12px;
	height: 100%;
}

.logoDemolay {
	width: 200px;
	height: 70px;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	text-align: center;
}

.txtNav {
	display: flex;
	text-decoration: none;
	color: #fff;
	text-align: center;
	margin: 1%;
	font-size: 20px;
}

.open {
	border-radius: 30px;
	border: 1px solid #FFF;
	display: inline-flex;
	padding: 16px 56px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
	transition: all 0.2s linear;
}

.open:hover {
	background-color: #FFF;
	color: #000;
	transition: all 0.2s linear;
}

.letreiro {
	color: #FFF;
	display: flex;
	font-size: 74px;
	font-family: "Milonga";
	font-weight: 900;
	display: flex;
	margin: 0% 10%;
}

.enquadramento_letreiro {
	width: 80%;
	margin: 6% 10% 15%;
	height: 280px;
	display: flex;
	align-items: start;
	flex-direction: column;
}

.img_letreiro {
	width: 80px;
	height: 80px;
	display: flex;
}

.history {
	background-color: #000;
	width: 80%;
	height: 920px;
	color: #FFF;
	margin: 0 10%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.tittle {
	text-align: center;
	width: 100%;
	height: 50px;
	margin: 8% 0% 5% 0%;
	font-family: "Milonga";
	font-size: 50px;
	color: #FFF;
	font-weight: 700;
	display: flex;
	justify-content: center;
}

.text {
	margin: 5% 5%;
	text-align: start;
	width: 50%;
}

.formatacao {
	flex-direction: row;
	display: flex;
}

.supremo {
	width: 400px;
	margin: 25% 5%;
}

.section_virtudes {
	background-color: #000;
	width: 80%;
	height: 1080px;
	color: #FFF;
	margin: 0 10%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.div_enquadramento {
	width: 100%;
	height: 720px;
	margin: 0% 5%;
	display: flex;
}

.asVirtudes {
	width: 50%;
	height: 100px;
	color: #FFF;
	font-size: 25px;
	font-family: "Milonga";
	display: flex;
	align-items: center;
	text-align: start;
}

.class_conteudo {
	display: flex;
	width: 60%;
	height: 80px;
	font-size: 15px;
	font-family: "Poppins";
	text-align: start;
}

.virtudes_restantes {
	display: flex;
	width: 90%;
	height: 720px;
	flex-direction: column;

}

.enquadramento1 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.section_carrosel {
width: 80%;
height: 500px;
background-color: #000;
display: flex;
margin: 2% 10%;

}

.div_carrosel {
	width: 90%;
	height: 100%;
	display: flex;
	scale: 1;
transition: all 0.3s step-start;
border: 1px #fff;
}



.div_carrosel:hover {
scale: 1.2;
}