* {
	font-family: "Fjalla One";
}

body {
	background-image: url(./imagens/fundo.png);
}

header {
	width: 80%;
	height: 200px;
	margin: 1% 10%;
	display: flex;

}

nav {
	display: flex;
	width: 100%;
	font-size: 12px;
	height: 100%;
}


.logoDemolay {
	width: 200px;
	height: 65px;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	text-align: center;

}

.txtNav {
	display: flex;
	text-decoration: none;
	color: #fff;
	text-align: center;
	margin: 1%;
	font-size: 20px;
}

.open {
	border-radius: 30px;
	border: 1px solid #FFF;
	display: inline-flex;
	padding: 16px 76px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
}

.letreiro{
	color: #FFF;
	display: flex;
	font-size: 64px;
	font-family: "Poppins";
	font-weight: 900;
	display: flex;
}

.img_letreiro{
	height: 80px;
	display: flex;
}

.enquadramento_letreiro{
	width: 80%;
	margin:6% 10%;
}